[*.cs]

# IDE0055: Microsoft какие же ебучие сынища блядей, нахуй вы лезете ко мне в vscode и настройки форматирования, я вашу контору хуесосов в рот ебал
# ебать же мне нужно чтобы фигурные скобки переносились на другую строку, еще ведь сидеть и искать какой ебучий плагин это делает, искать команду на фикс
# говна кострюлю наебните
dotnet_diagnostic.IDE0055.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CS8767: Nullability of reference types in type of parameter doesn't match implicitly implemented member (possibly because of nullability attributes).
dotnet_diagnostic.CS8767.severity = silent
